.button {
    color: $white;
    border: 2px solid $white;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    font-size: 0.75em;
    z-index: 999;

    @extend .font-EYInterstate-Bold;

    &:hover {
        background-color: $white;
        color: $black;
    }

    &:focus {
        background-color: $white;
        color: $black;
        outline: 0;
    }

    &.is-bookmarked {
        background-color: $white;
        color: $black;
    }
}
