html {
    height: 100%;
}

body {
	overflow: hidden;
    font-size: 16px;
    // height: 100vh;
    height: 100%;
    background-color: $purple;
    @extend .font-EYInterstate-Light;

    @include mq(desktop) {
        font-size: 28px;
    }
}

#app {
	position: relative;
	height: 100vh;
}

.viewport {
    position: relative;
    height: 100%;
}

img {
    border: 0;
}

* {
    user-select: none;
}