.flex {
    display: flex;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

.content-space-between {
    justify-content: space-between;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}
